<header class="container-fluid" style="background-color: oldlace;">
    <div class="row align-items-center">
        <!--Title-->
        <div class="col-6 col-lg-2 text-center text-lg-left">
            <h1 class="py-3 text-3"><a  href="/" title="Главная">Главная</a></h1>
        </div>
        <!--Nav Desktop-->
        <div class="col-6 d-none col-lg-8 d-lg-block">
            <nav class="nav-container">
                
                <a class="nav-item" href="/Men" title="Men" >Мужские</a>
                <a class="nav-item" href="/Women" title="Women" >Женские</a>
                <a class="nav-item" href="/Couple" title="Couple" >Общие</a>
                <a class="nav-item" href="/Accessories" title="Accessories" >Аксексуары</a>
            </nav>
        </div>
        <!--Nav Icon-->
        <div class="col-3 col-lg-2 d-lg-block">
            <div class="d-flex justify-content-end">
                <a class="nav-item nav-icon" href="/card" title="Cart Icon">
                    <div class="cart-shopping">
                        <i >Корзина</i> 
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!--Search Bar-->
    <form action="/FindProductByChart" method="post">
        <div class="searchbar d-block bg-white">
            <div class="search-input">
                <input type="text" name="search" placeholder="Tìm kiếm sản phẩm ...">   
                <i class="btn-classic red big-icon las la-times"></i>
            </div>
        </div>
    </form>

</header>