@{
    ViewBag.TitlePage= "Ошибка" + ViewBag.StatusCode;
}
<!--Banner lager-->
<div class="container-fluid">
    <div class="banner-sm section">
        <p class="white mb-0">Ошибка @ViewBag.StatusCode</p>
    </div>
</div>
<div class="section">
    
    </div>
    <p class="text-center">
        <a onclick=" window.history.back();" class="link blue" href="#!" title="To Home">Назад</a>
    </p>
</div>

