@{
    ViewData["Title"]= "WatchStore";
    var pageCode = ViewBag.PageCode;
    var banner = ViewBag.PageCode < 0 ? "banner-sm" : "banner-lg";
}
@section scripts{
    <script src="~/js/product.js"></script>   
}
<span id="page" data-code=@pageCode></span>

<!--List product-->
<div class="container">
    <!--Filter-->
    @if (pageCode == -1)
    {
        <p style="padding-left: 1.45em" >Có @ViewBag.SearchResult sản phẩm phù hợp</p>
    }
    <div class="filter contents mb-4">
        <div class="row align-content-center">
            <div id="orderby" class="d-flex">
                <a class="nav-item active" data-index="0" title="phổ biển" >Универсальный</a>
                <a class="nav-item" data-index="1" title="giá cao">По убыванию</a>
                <a class="nav-item" data-index="2" title="giá thấp">По возростанию</a>
            </div>
            <div class="dropdown ml-lg-auto pl-2 pl-lg-0">
                <div class="select">
                    <span>Тип провода</span>
                    <i class="las la-angle-down"></i>
                </div>
                <input id="filter" type="hidden" name="filter">
                <ul class="dropdown-menu bg-white">
                    <li data-code="0">Все</li>
                    <li data-code="1">Кожаный</li>
                    <li data-code="2">Металические</li>
                    <li data-code="3">Проволочная</li>
                    <li data-code="4">Резиновый</li>
                </ul>
            </div>
        </div>
    </div>
    <!--Products-->
    <div class="contents">
        <div id="product-container">
            <div></div><div></div><div></div><div></div></div>
        </div>
    </div>
    <!--Pagnation-->
    <div class="pagnation contents section">
    </div> 
</div>


