@{
    ViewData["Title"]= "WatchStore";
}
@section css{
    <link rel="stylesheet" href="~/css/home.css" >
    <link rel="stylesheet" href="~/css/products.css" >
    <link rel="stylesheet" href="~/css/slider.css" >
}
@section scripts{
    <script src="~/js/slider.js"></script>
    <script src="~/js/home.js"></script>
}

<!--Home-->
<div class="container">
    <!--Category-->
    
    <!--Products best seller other-->
    <div class="contents section">
        <h2 class="text-center mb-4 mb-lg-5 text-1">Каталог</h1>
        <div id="product-container-discount">
            </div><div></div><div></div><div></div></div>
        </div>
        <a href="/Discount" class="text-center link  d-block"> Больше </a>
    </div> 
</div>

