@{
    ViewData["Title"]= "WatchStore";
}
<div class="container-fluid">
    <div class="banner-sm section">
        <p class="white mb-0">@ViewData["Title"]</p>
    </div>
</div>
<div class="container section">
    <div class="img text-center mb-5">
        <img src="~/images/thank.png" width="150">
    </div>
    <p class="text-center"> <span class="bold"></span></p>
    <p class="text-center"></p>
    <a class="text-center link blue d-block" href="/" title="To Product"></a>
</div>

